{{#if (gt @page 1)}}
  <span class="pagination prev-link">
    <LinkTo
      @route={{@route}}
      @query={{hash page=(dec @page)}}
    >
      «
    </LinkTo>
  </span>
{{/if}}
{{#each (range 1 (inc @totalPages)) as |number|}}
  {{#if (eq-number number @page)}}
    <span class="pagination active-page">{{number}}</span>
  {{else}}
    <span class="pagination number">
      <LinkTo @route={{@route}} @query={{hash page=number}}>
        {{number}}
      </LinkTo>
    </span>
  {{/if}}
{{/each}}
{{#if (lt @page @totalPages)}}
  <span class="pagination next-link">
    <LinkTo
      @route={{@route}}
      @query={{hash page=(inc @page)}}
    >
      »
    </LinkTo>
  </span>
{{/if}}
